.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-family: 'Arial', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #facc15;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #fbbf24;
}
